/* styles.css */

.CardItem {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 300px;
  }
  
  .Header {
    margin-bottom: 10px;
  }
  
  .ItemHeader {
    font-size: 1.5em;
    color: #333;
  }
  
  .Info {
    margin-bottom: 5px;
  }
  
  .ItemFooter {
    margin-top: 20px;
  }
  
  /* Ajuste para las imágenes */
  .CardItem img {
    min-width: 100%;
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
  }
  