.containerNav {
	width: 100%;
	height: 75px;
	background-color: rgb(107, 206, 245);
	color: rgb(0, 0, 0);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.containerNav--ul {
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0px 20px;
}

.containerNav--ul--li {
	list-style: none;
	cursor: pointer;
	text-decoration: none;
	color: rgb(14, 0, 0);
}

.containerNav--ul--li:hover {
	text-decoration: underline;
}

.containerNav--ul--li.active {
	color: yellow;
}
