.containerNav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    padding: 10px 20px; 
    background-color: #f0f0f0; 
    font-size: larger;
}

.containerNav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.containerNav ul li {
    margin-right: 30px; 
}

.containerNav div {
    font-size: 30px; 
}

.nav-link.active{
    color:red;
    font-weight: 600;
}

.nav-link{
    color:black
}
